@section AdditionalRessources
{
    <script src="@Url.Content("~/Scripts/jquery.signalR-1.0.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>

    <script type="text/javascript">
        var messaging;
        $(function () {
            messaging = $.connection.chat;
            messaging.client.addMessage = function (message) {
                $('#messages').append('<li>' + message + '</li>');
            };
            $.connection.hub.start().done(function () {
                $("#broadcast").click(function () {
                    messaging.server.send($('#key').val())
                });
            });

            $("#bt_send").click(function (e) {
                sendRequest('SendMail');
            });

            $("#bt_enqueue").click(function (e) {
                sendRequest('EnqueueMail');
            });

            $("#bt_batchsend").click(function (e) {
                sendRequest('BatchSendMails');
            });
        });

        function sendRequest(action) {
            $('#action').val(action);
            $.ajax({
                type: 'POST',
                data: $("#form0").serialize(),
                url: $("NotificationTest").attr("action"),
                success: function (data) {
                    {
                        $('#messages').append('<li>' + data + '</li>');
                    }
                }
            });
        }

    </script>
}

<h2>Notification Test</h2>
 
<b>@TempData["Error"]</b>   

@using (Html.BeginForm("Index", null, FormMethod.Post, new { id = "form0" }))                           // htmlAttributes))
{
    <div class="email_test">
        <div class="email"><label for="email">Email:</label>@Html.TextBox("email")</div>
        <div class="subject"><label for="subject">Subject:</label>@Html.TextBox("subject")</div>    
        <div class="key"><label for="key">Key:</label>@Html.TextBox("key")</div> 
        <input type="hidden" id="action" name="action" />
        <div class="submit"><input id="bt_send" type="button" value="SendMail"/></div>
        <div class="submit"><input id="bt_enqueue" type="button" value="EnqueueMail"/></div>
        <div class="submit"><input id="bt_batchsend" type="button" value="BatchSendMails"/></div>
    </div>
}

<input type="button" id="broadcast" value="SendWeb" />

<div id="messages" />
