@using Dragon.Context
@{
    ViewBag.Title = "Index";
}
<h2>
    Login</h2>
    
<div>
    Current Session ID: @DragonContext.Current.Session.ID <br />
    Current User ID: @DragonContext.Current.CurrentUserID
</div>

<div>
    @Html.ActionLink("Register","RegisterUsernameAndPassword") | @Html.ActionLink("Logout", "Logout")

</div>

<script language="javascript" type="text/javascript">
<!--
    $(function () {
        $("#dragon_context_facebook_login").bind("click", function () {
            $(document).dragonFacebook("login");
        });
    });
-->
</script>

<b>@TempData["Error"]</b>   

@using (Html.BeginForm("LoginUsernameAndPassword", null, FormMethod.Post, null))
{
    <div class="loginForm">
        <div class="username"><label for="username">Username:</label>@Html.TextBox("username")</div>
        <div class="password"><label for="password">Password:</label>@Html.Password("password")</div>    
        <div class="submit">
            <input type="submit" value="Login"/>
            <input type="button" id="dragon_context_facebook_login" value="Login with Facebook"/>
        </div> 
        
    </div>
}

