@model Dragon.SecurityServer.AccountSTS.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = Resources.Global.LoginTitle;
}
<h2>@ViewBag.Title.</h2>
<h3>@Resources.Global.AlreadyRegisteredTitle</h3>

<hr />

<p class="text-info">
    @Resources.Global.AlreadyRegisteredUsingAnotherService<br />
    @ViewBag.Message
    <br />
</p>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <div class="btn btn-default">
            @Html.ActionLink(Resources.Global.BackToLogin, "Login", "Account", (RouteValueDictionary) ViewBag.RouteValues, new Dictionary<string, object> {{"class", "form-horizontal"}, {"role", "form"}})
        </div>
    </div>
</div>
<br/>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
