@model Dragon.SecurityServer.AccountSTS.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = Resources.Global.ForgotPasswordTitle;
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ForgotPassword", "Account", (RouteValueDictionary)ViewBag.RouteValues, FormMethod.Post, new Dictionary<string, object> { { "class", "form-horizontal" }, { "role", "form" } }))
{
    @Html.AntiForgeryToken()
    <h4>@Resources.Global.EnterEmail</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="@Resources.Global.EmailLink" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
