@using Dragon.SecurityServer.AccountSTS.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
@{
    var parameters = new RouteValueDictionary(HttpContext.Current.Request.QueryString.Keys.Cast<string>()
                .ToDictionary(k => k, v => (object)HttpContext.Current.Request.QueryString[v]));

}

<!-- START Template Main -->
<section id="main" role="main" class="wav-login">
    <!-- START Template Container -->
    <section class="container" id="wav-home">


        <!-- START row -->
        <div class="row">
            <div class="wav-login-wrapper">

                <!-- Brand -->
                <div class="row wav-login-brand">
                    <img src="//wav-prod-cdn-main.azureedge.net/assets/images/sso/logo-signup-small.png">
                </div>
                <div class="row wav-login-notebook">
                    <img src="//wav-prod-cdn-main.azureedge.net/assets/images/sso/laptop-signup.png">
                </div>


                <div class="flip-container">
                    <!-- START flipper -->
                    <div class="flipper">
                        <!-- START sign in -->
                        <div class="front wav-login-signin">
                            <div class="wav-panel panel">
                                <div class="panel-heading">
                                    <h1>Welcome to WhatAVenture</h1>
                                    <p class="subtext">Let‘s turn your business ideas into success.</p>

                                </div>
                                <div class="panel-body">
                                    @using (Html.BeginForm("Login", "Account", parameters, FormMethod.Post, new Dictionary<string, object> { { "@class", "form-horizontal" }, { "role", "form" } }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="row">
                                            <div class="col-sm-12">

                                                @Html.CustomValidationSummary(true, "", new { @class = "text-danger" })
                                                <div class="form-group ">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "help-block mt10" })
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "help-block mt10" })
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12 mt10">
                                                            <input type="submit" class="btn btn-lg btn-block mod-wav-btn-primary signup" value="Sign in" />
                                                        </div>
                                                    </div>


                                                </div>

                                            </div>

                                        </div>
                                    }
                                </div>

                                <div class="wav-login-or-register">
                                    <p>Don't have an account yet?</p>
                                    @Html.ActionLink("Register here", "Register", null, parameters, new Dictionary<string, object>() {
                                        { "class" , "btn btn-success mod-wav-btn-outline wav-login-or-register-button toggle-register" } })

                                    <!--<a class="btn btn-success mod-wav-btn-outline wav-login-or-register-button toggle-register" href="#">Register here</a>-->
                                </div>


                                <div class="panel-footer">
                                    <div class="col-sm-12 text-center u-mt-20 u-mb-10">
                                        <span class="orsignin">or sign in with &nbsp;</span>
                                        @using (Html.BeginForm("ExternalLogin", "Account", new
                                        {
                                            ReturnUrl = ViewBag.RouteValues["ReturnUrl"],
                                            appid = ViewBag.RouteValues["appid"],
                                            serviceid = ViewBag.RouteValues["serviceid"],
                                            userid = ViewBag.RouteValues["userid"],
                                            expiry = ViewBag.RouteValues["expiry"],
                                            signature = ViewBag.RouteValues["signature"]
                                        }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <button type="submit" style="border: none; background-color: transparent" class="" id="Facebook" name="provider" value="Facebook"><img title="Facebook" src="//wav-prod-cdn-main.azureedge.net/assets/images/sso/signin_facebook.png"></button>
                                            <button type="submit" style="border: none; background-color: transparent" class="" id="Google" name="provider" value="Google"><img title="Google" src="//wav-prod-cdn-main.azureedge.net/assets/images/sso/signin_google.png"></button>
                                            <button type="submit" style="border: none; background-color: transparent" class="" id="Twitter" name="provider" value="Twitter"><img title="Twitter" src="//wav-prod-cdn-main.azureedge.net/assets/images/sso/signin_twitter.png"></button>
                                            <button type="submit" style="border: none; background-color: transparent" class="" id="Microsoft" name="provider" value="Microsoft"><img title="Microsoft" src="//wav-prod-cdn-main.azureedge.net/assets/images/sso/signin_windows.png"></button>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row wav-login-forgot">
                                @Html.ActionLink("Forgot your password?", "ForgotPassword", null, parameters, new Dictionary<string, object>() {
                                        { "class" , "toggle-password" } })
                            </div>
                        </div>

                    </div>
                    <!--/ END flipper  -->
                </div>
            </div>
        </div>
        <!--/ END row -->

    </section>
    <!-- END Template Container -->
</section>
<!--/ END Template Main -->

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
