@model Dragon.SecurityServer.AccountSTS.Models.ResetPasswordViewModel
@{
    var parameters = new RouteValueDictionary(HttpContext.Current.Request.QueryString.Keys.Cast<string>()
                .ToDictionary(k => k, v => (object)HttpContext.Current.Request.QueryString[v]));

}
<!-- START Template Main -->
<section id="main" role="main" class="wav-login">
    <!-- START Template Container -->
    <section class="container" id="wav-home">


        <!-- START row -->
        <div class="row">
            <div class="wav-login-wrapper">

                <!-- Brand -->
                <div class="row wav-login-brand">
                    <img src="//wav-prod-cdn-main.azureedge.net/assets/images/intro/logo-signup-small.png">
                </div>
                <div class="row wav-login-notebook">
                    <img src="//wav-prod-cdn-main.azureedge.net/assets/images/intro/laptop-signup.png">
                </div>


                <div class="flip-container">
                    <!-- START flipper -->
                    <div class="flipper">
                        <!-- START sign in -->
                        <div class="front wav-login-signin">
                            <div class="wav-panel">
                                <div class="panel-heading">
                                    <h1>Welcome to WhatAVenture</h1>
                                    <p class="subtext">Enter the email associated with your account and a new password.</p>

                                </div>
                                <div class="panel-body">
                                    @using (Html.BeginForm("ResetPassword", "Account", parameters, FormMethod.Post, new Dictionary<string, object> { { "@class", "form-horizontal" }, { "role", "form" } }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="row">
                                            <div class="col-sm-12">

                                                @Html.CustomValidationSummary(true, "", new { @class = "text-danger" })
                                                <div class="form-group ">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "help-block mt10" })
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "help-block mt10" })
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password" })
                                                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "help-block mt10" })
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12 mt10">
                                                            <input type="submit" class="btn btn-lg btn-block mod-wav-btn-primary signup" value="Reset" />
                                                        </div>
                                                    </div>


                                                </div>

                                            </div>

                                        </div>
                                    }
                                </div>

                            </div>

                        </div>

                    </div>
                    <!--/ END flipper  -->
                </div>
            </div>
        </div>
        <!--/ END row -->

    </section>
    <!-- END Template Container -->
</section>
<!--/ END Template Main -->
