@{
    ViewBag.Title = "Restricted";
}

<h2>Restricted area</h2>
<h3>General</h3>
<p>Name: @ViewBag.Name</p>
<p>AuthenticationType: @ViewBag.AuthenticationType</p>
<h3>Claims</h3>
@foreach (var claim in ViewBag.Claims)
{
    <p>@claim.Type: @claim.Value</p>
}
<h3>Connect</h3>
@foreach (var connect in ViewBag.ConnectUrls)
{
    <p><a href="@connect.Value">@connect.Key</a></p>
}
<h3>Disconnect</h3>
@foreach (var disconnect in ViewBag.DisconnectUrls)
{
    <p><a href="@disconnect.Value">@disconnect.Key</a></p>
}
