@model IEnumerable<Dragon.Interfaces.IPermissionInfo>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName) |&nbsp;
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spec) |&nbsp;
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inherit) |&nbsp;
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InheritedFrom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inherit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InheritedFrom)
        </td>
    </tr>
}

</table>
